
<section class="content-header" [@fadeInAnimation]>
	<h1 class="tituloTriaje">
		ERIS
		<small class="pull-right"></small>
	</h1>

	<!-- <ol class="breadcrumb">
		<li class="active"><a style="font-size: 30px;"> {{entorno}}</a></li>
	</ol> -->
</section>

<section class="content" [@fadeInAnimation]>
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
			<li class="active"><a (click)="fnclickTag()" id="clickAqui" href="#Buscar_paciente" data-toggle="tab" aria-expanded="true">Buscar paciente</a></li>

			<li class="" *ngIf="global.getUserProfileId() == 3 || global.getUserProfileId() == 1 || global.getUserProfileId() == 5"><a (click)="fnclickTag()" href="#traumaShock" data-toggle="tab" aria-expanded="false">Trauma shock</a></li>

			<li class="" *ngIf="global.getUserProfileId() == 3 || global.getUserProfileId() == 1 || global.getUserProfileId() == 2"><a (click)="fnclickTag()" href="#solicitudesPendiente" data-toggle="tab" aria-expanded="false">Solicitudes pendientes</a></li>

			<li  *ngIf="global.getUserProfileId() == 3 || global.getUserProfileId() == 1"><a (click)="clickTag()" href="#Nuevo_paciente_triaje" data-toggle="tab" aria-expanded="false">Nuevo paciente triaje</a></li>
			<li  *ngIf="false"><a (click)="clickTag()" href="#Nuevo_paciente_admision" data-toggle="tab" aria-expanded="false">Nuevo paciente admisión</a></li>
			<li class="" *ngIf="global.getUserProfileId() == 3 || global.getUserProfileId() == 1 || global.getUserProfileId() == 5"><a (click)="fnclickTag()" href="#Paciente_espera" data-toggle="tab" aria-expanded="false">Pacientes por llamar</a></li>
			<li class="" *ngIf="global.getUserProfileId() == 3 || global.getUserProfileId() == 1 || global.getUserProfileId() == 5"><a (click)="fnclickTag()" href="#Paciente_sala" data-toggle="tab" aria-expanded="false">Sala adulto</a></li>
			<li class="" *ngIf="global.getUserProfileId() == 3 || global.getUserProfileId() == 1 || global.getUserProfileId() == 5"><a (click)="fnclickTag()" href="#Paciente_sala_pediatra" data-toggle="tab" aria-expanded="false">Sala pediátrica</a></li>

			<li class="pull-right"  *ngIf="global.getUserProfileId() == 1 || global.getUserProfileId() == 3"><button class="btn btn-primary" (click)="global.openModal('modal-confirmar-traumaShock')">Nuevo paciente de Trauma Shock</button></li>
		</ul>
		<div class="tab-content">
		<div class="tab-pane active" id="Buscar_paciente">
			<app-yo-table [type]="1"></app-yo-table>
		
		</div>
		<div class="tab-pane" id="traumaShock" *ngIf="global.getUserProfileId() == 3 || global.getUserProfileId() == 1 || global.getUserProfileId() == 5">
			<app-yo-table [type]="5"></app-yo-table>
		
		</div>
		<div class="tab-pane" id="solicitudesPendiente" *ngIf="global.getUserProfileId() == 3 || global.getUserProfileId() == 1 || global.getUserProfileId() == 2">
			<app-yo-table [type]="6"></app-yo-table>
		
		</div>

		<div *ngIf="global.getUserProfileId() == 3 || global.getUserProfileId() == 1" class="tab-pane  " id="Nuevo_paciente_triaje">
			<div class="row" id="exportarPDF">
				<div class="col-md-12">
					<app-form-triaje [btnNpaciente]='true' [init]="{cerrar:true}"></app-form-triaje>
				</div>
			</div>
		</div>
		<!-- <div *ngIf="entorno == 'Admision' || entorno == 'Administrador'" class="tab-pane " id="Nuevo_paciente_admision"> -->
		<div *ngIf="false" class="tab-pane " id="Nuevo_paciente_admision">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-default">
						<div class="box-header with-border">
							<h3 class="box-title">Datos Demográficos</h3>
						</div>
						<form role="form" [formGroup]="FormPacienteAdmision" novalidate (ngSubmit)="submit(FormPacienteAdmision.value,'admision')">
							<div class="box-body">
								<div formGroupName="PatientClient">
									<div class="row">
										<div class="col-sm-12 col-md-6 col-lg-3">
											<div class="form-group">
												<input type="text" class="form-control" id="name1A" formControlName="Name1" placeholder="Primer nombre" name="name1">
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-3">
											<div class="form-group">
												<input type="text" class="form-control" id="name2" formControlName="Name2" placeholder="Segundo nombre" name="name2">
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-3">
											<div class="form-group">
												<input type="text" class="form-control" id="LastName1" formControlName="LastName1" placeholder="Primer apellido" name="LastName1">
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-3">
											<div class="form-group">
												<input type="text" class="form-control" id="LastName2" formControlName="LastName2" placeholder="Segundo apellido" name="LastName2">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6 col-md-2 col-lg-3">
											<div class="form-group">
												<div class="input-group date">
													<div class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</div>
													<input type="text" class="form-control pull-right datepicker"  id="BirthDateA" formControlName="StrBirthDate" placeholder="F/N" name="StrBirthDate">
												</div>
											</div>
										</div>
										<div class="col-sm-6 col-md-2 col-lg-3">
											<div class="form-group">
												<label for="baz[1]">F</label>
												<input type="radio" value="F" name="Gender" id="baz[1]" formControlName="Gender">

												<label for="baz[2]">M</label>
												<input type="radio" value="M" name="Gender" id="baz[2]" formControlName="Gender">
											</div>
										</div>
										

									</div>

									<div class="row">
										<div class="col-sm-6 col-md-4 col-lg-3">
											<div class="form-group">
												<div class="input-group">
													<span class="input-group-addon">
														<select id="TypeIdentityCard" formControlName="TypeIdentityCard" name="TypeIdentityCard" (change)="changeTypeIdentity('admision')">
															<option value="V">V</option>
															<option value="E">E</option>
															<option value="M">M</option>
														</select>
													</span>
													<input maxlength="10" type="text" class="form-control" placeholder="Cédula" formControlName="IdentityCard" name="IdentityCard" required="false" id="Cedula">

												</div>
											</div>
										</div>
										<div class="col-sm-6 col-md-4 col-lg-3">
											<div class="form-group">
												<div class="input-group">
												  	<span class="input-group-addon" id="">
												  		<span class="glyphicon glyphicon-phone"></span>
												  	</span>
													<input maxlength="50" type="text" class="form-control" placeholder="Teléfono celular" formControlName="CellPhone" name="CellPhone">
												</div>
											</div>
										</div>
										<div class="col-sm-6 col-md-4 col-lg-3">
											<div class="form-group">
												<div class="input-group">
												  	<span class="input-group-addon" id="">
												  		<span class="glyphicon glyphicon-earphone"></span>
												  	</span> 
													<input maxlength="50" type="text" class="form-control" placeholder="Teléfono habitación" formControlName="HomePhone" name="HomePhone">
												</div>
											</div>
										</div>
										<div class="col-sm-12 col-md-4 col-lg-3">
											<div class="form-group">
												<div class="input-group">
												  	<span class="input-group-addon" id="">@</span>
													<input type="email" class="form-control" placeholder="Email" formControlName="Email" name="E-mail" [disabled]="FormPacienteAdmision.get('PatientClient.TypeIdentityCard').value == 'M'">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12"> 
											<textarea class="form-control" rows="3"  style="resize: none;" placeholder="Dirección" formControlName="Address" name="Address"></textarea>
										</div>
									</div>
								</div>
								<div *ngIf="FormPacienteAdmision.get('PatientClient.TypeIdentityCard').value == 'M'">
									<div class="row">

										<div class="col-md-12">
											<div class="box box-default">
												<div class="box-header with-border">
													<h3 class="box-title">Datos del familiar</h3>
												</div>
												<form role="form" formGroupName="FamiliarClient">
													<div class="box-body">
														<div class="row">
															<div class="col-sm-12 col-md-6 col-lg-3">
																<div class="form-group">
																	<input type="text" class="form-control" id=""  formControlName="Name1" placeholder="Primer nombre" name="Name1">
																</div>
															</div>
															<div class="col-sm-12 col-md-6 col-lg-3">
																<div class="form-group">
																	<input type="text" class="form-control" id="" formControlName="Name2" placeholder="Segundo nombre" name="Name2">
																</div>
															</div>
															<div class="col-sm-12 col-md-6 col-lg-3">
																<div class="form-group">
																	<input type="text" class="form-control" id="" formControlName="LastName1" placeholder="Primer apellido" name="LastName1">
																</div>
															</div>
															<div class="col-sm-12 col-md-6 col-lg-3">
																<div class="form-group">
																	<input type="text" class="form-control" id="" formControlName="LastName2" placeholder="Segundo apellido" name="LastName2">
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-6 col-md-2 col-lg-3">
																<div class="form-group">
																	<div class="input-group date">
																		<div class="input-group-addon">
																			<i class="fa fa-calendar"></i>
																		</div>
																		<input type="text" class="form-control pull-right datepicker"  id="BirthDateA2" formControlName="StrBirthDate" placeholder="F/N" name="StrBirthDate">
																	</div>
																</div>
															</div>
															
															<div class="col-sm-6 col-md-2 col-lg-3">
																<div class="form-group">
																	<label for="Gender1">F</label>
																	<input type="radio" name="Gender" value="F" id="Gender1" formControlName="Gender">

																	<label for="Gender2">M</label>
																	<input type="radio" name="Gender" value="M" id="Gender2" formControlName="Gender">
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-6 col-md-4 col-lg-3">
																<div class="form-group">
																	<div class="input-group">
																		<span class="input-group-addon">
																			<select id="TypeIdentityCard2" formControlName="TypeIdentityCard" name="TypeIdentityCard" (change)="changeTypeIdentity()">
																				<option value="V">V</option>
																				<option value="E">E</option>
																			</select>
																		</span>
																		<input maxlength="10" type="text" class="form-control" placeholder="Cédula" formControlName="IdentityCard" name="IdentityCard">
																	</div>
																</div>
															</div>
															<div class="col-sm-6 col-md-4 col-lg-3">
																<div class="form-group">
																	<div class="input-group">
																	  	<span class="input-group-addon" id="">
																	  		<span class="glyphicon glyphicon-earphone"></span>
																	  	</span>
																		<input maxlength="50" type="text" class="form-control" placeholder="Teléfono celular" formControlName="HomePhone" name="HomePhone">
																	</div>
																</div>
															</div>
															<div class="col-sm-6 col-md-4 col-lg-3">
																<div class="form-group">
																	<div class="input-group">
																	  	<span class="input-group-addon" id="">
																	  		<span class="glyphicon glyphicon-earphone"></span>
																	  	</span> 
																		<input maxlength="50" type="text" class="form-control" placeholder="Teléfono habitación" formControlName="CellPhone" name="CellPhone">
																	</div>
																</div>
															</div>
															<div class="col-sm-12 col-md-4 col-lg-3">
																<div class="form-group">
																	<div class="input-group">
																	  	<span class="input-group-addon" id="">
																	  		@
																	  	</span>
																		<input type="email" class="form-control" placeholder="Email" formControlName="E-mail" name="Email">
																	</div>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-12"> 
																<textarea class="form-control" rows="3"  style="resize: none;" placeholder="Dirección" formControlName="Address" name="Address"></textarea>
															</div>
														</div>

													</div>

												</form>
											</div>
										</div>
									</div>
								</div>

								<div>
									<div class="box box-default">
										<div class="box-header with-border">
											<h3 class="box-title">Datos de admisión</h3>
										</div>
										<div class="box-body" formGroupName="AdmissionClient">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label for="CashPayment[1]">Contado</label>
														<input type="radio" [value]="true" name="CashPayment" id="CashPayment[1]" formControlName="CashPayment">

														<label for="CashPayment[2]">Seguro</label>
														<input type="radio" [value]="false" name="CashPayment" id="CashPayment[2]" formControlName="CashPayment">
													</div>
												</div>
												<div class="col-md-3" *ngIf="FormPacienteAdmision.get('AdmissionClient.CashPayment').value == false">
													<div class="form-group">
														 <ng-select [allowClear]="true"
														              [items]="listSeguro"
														              (selected)="selectedSeguro($event)"
														              placeholder="Seleccione el seguro">
														  </ng-select>
													</div>
												</div>
												<div class="col-md-3" *ngIf="FormPacienteAdmision.get('AdmissionClient.CashPayment').value == false">
															<ng-select [allowClear]="true"
														              [items]="listColectivo"
														              (selected)="selectedColectivo($event)"
														              placeholder="Seleccione el colectivo">
														  </ng-select>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								
							</div>
							<div class="box-footer">
								<button type="submit" class="btn btn-primary" [disabled]="!FormPacienteAdmision.valid">Guardar</button>
								<button type="button" class="btn btn-default" (click)="fnClickNpaciente('admision',FormPacienteAdmision)">Nuevo paciente</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="Paciente_espera">
			<app-yo-table [type]="2"></app-yo-table>
	</div>
	<div class="tab-pane" id="Paciente_sala" *ngIf="global.getUserProfileId() == 3 || global.getUserProfileId() == 1 || global.getUserProfileId() == 5">
		<app-yo-table [type]="3"></app-yo-table>
</div>
<div class="tab-pane" id="Paciente_sala_pediatra" *ngIf="global.getUserProfileId() == 3 || global.getUserProfileId() == 1 || global.getUserProfileId() == 5">
		<app-yo-table [type]="4"></app-yo-table>
</div>
</div>
</div>

</section>

<div class="modal fade" id="modal-confirmar-Dashboard">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Confirmación</h4>
			</div>
			<div class="modal-body">
				¿ Seguro que desea agregar el nuevo paciente ?
			</div>
			<div class="box-footer">
				<button type="button" class="btn btn-primary pull-right" (click)="newPAciente()">Confirmar</button>

				<button style="margin-right: 20px;"  type="button" class="btn btn-default pull-right" data-dismiss="modal" aria-label="Close">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-warning" id="modal-confirmar-traumaShock">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Confirmación</h4>
			</div>
			<div class="modal-body">
				¿ Seguro que desea agregar nuevo paciente de trauma shock ?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline pull-right" (click)="nuevoPTraumashock()">Confirmar</button>

				<button style="margin-right: 20px;"  type="button" class="btn btn-outline pull-right" data-dismiss="modal" aria-label="Close">Cancelar</button>
			</div>
		</div>
	</div>
</div>