<div class="container-fluid" [@fadeInAnimation]>
  <div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">{{data.titleTable}}</h3>
            </div>
            <div class="box-body">
              <table class="table table-bordered">
                <thead>
                  <tr *ngIf="data.filter">
                    <th *ngFor="let i of data.title" style="padding:0;">
                      <input type="text" class="form-control">
                    </th>
                  </tr>
                  <tr>
                    <th *ngFor="let i of data.title">{{i}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of data.data;let index = index">
                    <td *ngFor="let j of data.title;let index2 = index">{{show(index,index2)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>
    </div>
  </div>
</div>
